@import './src/assets/variables.scss';
:host{
    position: relative;
    display: block;
    height: $top-menu-height;
    width: 100%;
    background-color: $second-background-color;
    box-sizing: border-box;
    border-bottom: solid 4px $borders-color;
    h1{
        font-size: 2.5em;
        font-family: cursive;
        text-align: center;
    }    
}
