<div class='buttonsContainer'>
    <div class='buttonsContainerPart'>
        <button (click)='decMonth()' [disabled]="popupService.popupQty">-</button><h2>{{monthList[month-1]}}</h2><button (click)='incMonth()' [disabled]="popupService.popupQty">+</button>
    </div>
    <div class='buttonsContainerPart'>
        <button (click)='decYear()' [disabled]="popupService.popupQty">-</button><h2>{{year}}</h2><button (click)='incYear()' [disabled]="popupService.popupQty">+</button>
    </div>
</div>

<div class='month'>
    <div class='calendarWeekDay'>MON<span>DAY</span></div><div class='calendarWeekDay'>TUE<span>SDAY</span></div><div class='calendarWeekDay'>WED<span>NESDAY</span></div><div class='calendarWeekDay'>THU<span>RSDAY</span></div><div class='calendarWeekDay'>FRI<span>DAY</span></div><div class='calendarWeekDay'>SAT<span>URDAY</span></div><div class='calendarWeekDay'>SUN<span>DAY</span></div>
    <div class='calendarBody'>
        <app-month-day [ngClass]="currentDate | date: 'EEE'" dayNo = 1></app-month-day><app-month-day *ngFor='let day of days' dayNo = {{day}}></app-month-day>
    </div>
</div>