@import './src/assets/variables.scss';
:host{
    position: absolute;
    display: block;
    background-color: $first-background-color;
    height: calc(100% - #{$top-menu-height});
    overflow: hidden;
    width: $side-menu-width;
    .material-icons{
        position: relative;
        display: block;
        text-align: center;
        font-size: 3em;
        color: $second-background-color;
    }
    
    .side-menu_button{
        padding: 5px 0px;
        cursor: pointer;
        &:hover{
            background-color: gray;
        }
        .tip{
            color: $borders-color;
            background-color: #222422;
        }
        &.active{
            background-color: $second-background-color;
            color: black;
            border-left: solid 4px $borders-color;
            &:hover{
                background-color: $second-background-color;
            }
        }
    }

}