@import './src/assets/variables.scss';
:host{
    .popup{
        position: fixed;
        display: block;
        background: $second-background-color;
        border: 2px solid $borders-color;
    }
}