$borders-color: #f29f55;
$borders-color-hover: #f7bd8a;
$first-background-color: #6f6f6f;
$first-background-color-hover: #9d9d9d;
$second-background-color: white;
$side-menu-width: 60px;
$top-menu-height: 70px;

// breakpoints
$breakpoint-first: 768px;